body {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    max-width: 800px;
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}

.products, .cart {
    margin: 20px 0;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product {
    background: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
}

button {
    background-color: #36a8f4;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #156fb8;

}

.cart {
    background: #000204;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-actions {
    margin-top: 10px;
    text-align: center;
}